@import url('https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap');

* {
  box-sizing: border-box;
}

.video{
  padding:100px ;
}
video{
  max-width: 860px;
  padding:10px auto;
}
.typewriter p {
  color: #000;
  font-family: stolzl;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}


ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  /*background-color: #eee;*/
}
ul.breadcrumb li {
  display: inline;
  font-size: 16px;
  text-transform: uppercase;

}
ul.breadcrumb li+li:before {
  padding: 8px;
  color: #663399;
  content: "/\00a0";
}
ul.breadcrumb li a {
  color: #663399;
  text-decoration: none;
  text-transform: uppercase;
}
ul.breadcrumb li a:hover {
  color: #663399;
  font-weight: bold;

}
body {
  font-family: 'stolzl', sans-serif;
  font-weight: 400;
  overflow: hidden;
}

.start-img{
  width: 70%;
}

.project-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  user-select: none;
  pointer-events: none;
  text-align: center;
  transition: .5s;
  /*box-shadow: rgb(136, 136, 136) 0px 2px 6px;*/
  filter: drop-shadow(rgb(136, 136, 136) 0px 2px 2px);
}


.project {
  width: 25%;
  flex-shrink: 0;
  margin: 0 10px;
  user-select: none;
  cursor: pointer;
  left: 0;
  transition: .4s;
  top: 0;
  position: relative;
  z-index: 1;
  transform-origin: center;
}

.project-name {
  position: absolute;
  width: 140px;
  text-align: center;
  left: 50%;
  top: 100%;
  font-size: 1rem;
  transition: .3s;
  font-weight: 400;
  color: rgba(0,0,0,.5);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateX(-50%) translateY(0) scale(.8);
  z-index: -1;

  @media (max-width: 768px) { display: none; }
}

.project:hover { z-index: 2; }

.project:hover > .project-name {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(10px) scale(1);
}

.project.is-selected { z-index: 2; }
.project.is-selected > .project-img { box-shadow: 0px 2px 6px grey; }



.showcase.is-dragging .project {
  pointer-events: none;
  transition: none;
}

.showcase.is-dragging .drop {
  border-color: red;
  color: red;
}

.drop {
  position: fixed;
  bottom: 20px;
  left: calc(50% - 45px);
  width: 90px;
  height: 90px;
  border: 3px solid #ddd;
  color: darken(#ddd, 15%);
  border-radius: 50%;
  transition: .5s;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 500;
  padding: 10px;
  user-select: none;
}

.drop.is-ready {
  color: transparent;
  background-color: red;
  transform: scale(1.3);
}


.drop.is-dropped {
  z-index: 3;
  background-color: red;
  border-color: red;
  color: #fff;
  font-size: 12px;
  width: 64px;
  height: 64px;
  left: calc(50% - 32px);
  cursor: pointer;
}

.project.is-expanded > .project-img { border-radius: 0; }
.project.is-expanded > .project-name { display: none; }

.showcase {
  height: 100vh;
  overflow: hidden;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
}

.showcase.is-preview > .project {
  pointer-events: none;
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0;
}

.showcase.is-preview > .project.is-expanded {
  opacity: 1;
  transition: .7s;
  z-index: 2;
  width: 50%;
  height: 50%;
  transform: none !important;
  z-index: 2;
}
